*.pyc
.idea/
python
django\.log*
src/RallyMarketing/director/management/commands/processemail.py.orig
run_tornado.py
src/run_django.py
src/RallyMarketing/a.out
django.ini
prospecto_portal/.idea
prospecto_portal/postgresql-driver-license.txt
prospecto_portal/postgresql-9.2-1002.jdbc4.jar
prospecto_portal/core/public/
prospecto_portal/core/slave.log

core/public/
assets/*

package-lock.json
node_modules
.module-cache

.DS_Store
.coverage

core/public/*

.sass-cache